@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon.woff") format("woff"),
       url("../fonts/flaticon.ttf") format("truetype"),
       url("../fonts/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-add:before { content: "\f100"; }
.flaticon-add-1:before { content: "\f101"; }
.flaticon-add-2:before { content: "\f102"; }
.flaticon-alarm-bell:before { content: "\f103"; }
.flaticon-arrows:before { content: "\f104"; }
.flaticon-arrows-1:before { content: "\f105"; }
.flaticon-arrows-10:before { content: "\f106"; }
.flaticon-arrows-11:before { content: "\f107"; }
.flaticon-arrows-12:before { content: "\f108"; }
.flaticon-arrows-13:before { content: "\f109"; }
.flaticon-arrows-14:before { content: "\f10a"; }
.flaticon-arrows-15:before { content: "\f10b"; }
.flaticon-arrows-2:before { content: "\f10c"; }
.flaticon-arrows-3:before { content: "\f10d"; }
.flaticon-arrows-4:before { content: "\f10e"; }
.flaticon-arrows-5:before { content: "\f10f"; }
.flaticon-arrows-6:before { content: "\f110"; }
.flaticon-arrows-7:before { content: "\f111"; }
.flaticon-arrows-8:before { content: "\f112"; }
.flaticon-arrows-9:before { content: "\f113"; }
.flaticon-avatar:before { content: "\f114"; }
.flaticon-avatar-1:before { content: "\f115"; }
.flaticon-back:before { content: "\f116"; }
.flaticon-bar-chart:before { content: "\f117"; }
.flaticon-bell:before { content: "\f118"; }
.flaticon-binoculars:before { content: "\f119"; }
.flaticon-blocks-with-angled-cuts:before { content: "\f11a"; }
.flaticon-branch-with-leaves:before { content: "\f11b"; }
.flaticon-branch-with-leaves-black-shape:before { content: "\f11c"; }
.flaticon-briefcase:before { content: "\f11d"; }
.flaticon-briefcase-frontal-view:before { content: "\f11e"; }
.flaticon-budding-leaves:before { content: "\f11f"; }
.flaticon-bullhorn:before { content: "\f120"; }
.flaticon-business:before { content: "\f121"; }
.flaticon-calendar:before { content: "\f122"; }
.flaticon-calendar-1:before { content: "\f123"; }
.flaticon-cell-phone:before { content: "\f124"; }
.flaticon-cellphone:before { content: "\f125"; }
.flaticon-chat:before { content: "\f126"; }
.flaticon-check:before { content: "\f127"; }
.flaticon-check-1:before { content: "\f128"; }
.flaticon-check-2:before { content: "\f129"; }
.flaticon-check-symbol:before { content: "\f12a"; }
.flaticon-checked:before { content: "\f12b"; }
.flaticon-circle:before { content: "\f12c"; }
.flaticon-circle-1:before { content: "\f12d"; }
.flaticon-circle-2:before { content: "\f12e"; }
.flaticon-circle-3:before { content: "\f12f"; }
.flaticon-clock:before { content: "\f130"; }
.flaticon-close:before { content: "\f131"; }
.flaticon-cogwheel:before { content: "\f132"; }
.flaticon-cogwheel-1:before { content: "\f133"; }
.flaticon-coin:before { content: "\f134"; }
.flaticon-coin-1:before { content: "\f135"; }
.flaticon-computer:before { content: "\f136"; }
.flaticon-connection:before { content: "\f137"; }
.flaticon-construction:before { content: "\f138"; }
.flaticon-contact:before { content: "\f139"; }
.flaticon-copy:before { content: "\f13a"; }
.flaticon-correct:before { content: "\f13b"; }
.flaticon-cow:before { content: "\f13c"; }
.flaticon-cross:before { content: "\f13d"; }
.flaticon-cross-1:before { content: "\f13e"; }
.flaticon-cross-2:before { content: "\f13f"; }
.flaticon-cup:before { content: "\f140"; }
.flaticon-delete:before { content: "\f141"; }
.flaticon-delete-cross:before { content: "\f142"; }
.flaticon-e-mail-envelope:before { content: "\f143"; }
.flaticon-earth:before { content: "\f144"; }
.flaticon-edit:before { content: "\f145"; }
.flaticon-email-envelope-outline-shape-with-rounded-corners:before { content: "\f146"; }
.flaticon-envelope:before { content: "\f147"; }
.flaticon-envelope-1:before { content: "\f148"; }
.flaticon-equalizer:before { content: "\f149"; }
.flaticon-eye:before { content: "\f14a"; }
.flaticon-eye-1:before { content: "\f14b"; }
.flaticon-eye-2:before { content: "\f14c"; }
.flaticon-flag:before { content: "\f14d"; }
.flaticon-flag-1:before { content: "\f14e"; }
.flaticon-food:before { content: "\f14f"; }
.flaticon-food-1:before { content: "\f150"; }
.flaticon-food-2:before { content: "\f151"; }
.flaticon-food-3:before { content: "\f152"; }
.flaticon-frown:before { content: "\f153"; }
.flaticon-garbage:before { content: "\f154"; }
.flaticon-gift:before { content: "\f155"; }
.flaticon-gym-control-of-exercises-with-a-list-on-a-clipboard-and-heart-beats:before { content: "\f156"; }
.flaticon-happiness:before { content: "\f157"; }
.flaticon-happiness-1:before { content: "\f158"; }
.flaticon-headphones:before { content: "\f159"; }
.flaticon-headphones-1:before { content: "\f15a"; }
.flaticon-heart:before { content: "\f15b"; }
.flaticon-heart-1:before { content: "\f15c"; }
.flaticon-heart-2:before { content: "\f15d"; }
.flaticon-heart-3:before { content: "\f15e"; }
.flaticon-heart-4:before { content: "\f15f"; }
.flaticon-heart-shape-outline-with-lifeline:before { content: "\f160"; }
.flaticon-heart-shape-outline-with-lifeline-variant:before { content: "\f161"; }
.flaticon-heartbeat:before { content: "\f162"; }
.flaticon-heartbeat-lifeline-arrow-symbol:before { content: "\f163"; }
.flaticon-home:before { content: "\f164"; }
.flaticon-home-1:before { content: "\f165"; }
.flaticon-home-2:before { content: "\f166"; }
.flaticon-home-3:before { content: "\f167"; }
.flaticon-home-4:before { content: "\f168"; }
.flaticon-home-5:before { content: "\f169"; }
.flaticon-home-6:before { content: "\f16a"; }
.flaticon-house:before { content: "\f16b"; }
.flaticon-house-outline:before { content: "\f16c"; }
.flaticon-interface:before { content: "\f16d"; }
.flaticon-interface-1:before { content: "\f16e"; }
.flaticon-interface-2:before { content: "\f16f"; }
.flaticon-interface-3:before { content: "\f170"; }
.flaticon-interface-4:before { content: "\f171"; }
.flaticon-interface-5:before { content: "\f172"; }
.flaticon-interface-6:before { content: "\f173"; }
.flaticon-interface-7:before { content: "\f174"; }
.flaticon-internet:before { content: "\f175"; }
.flaticon-leaves:before { content: "\f176"; }
.flaticon-letter:before { content: "\f177"; }
.flaticon-letter-1:before { content: "\f178"; }
.flaticon-letter-2:before { content: "\f179"; }
.flaticon-levels-adjust:before { content: "\f17a"; }
.flaticon-lifeline-in-a-heart-outline:before { content: "\f17b"; }
.flaticon-light-bulb-on:before { content: "\f17c"; }
.flaticon-like:before { content: "\f17d"; }
.flaticon-like-1:before { content: "\f17e"; }
.flaticon-like-2:before { content: "\f17f"; }
.flaticon-line:before { content: "\f180"; }
.flaticon-line-1:before { content: "\f181"; }
.flaticon-line-2:before { content: "\f182"; }
.flaticon-line-3:before { content: "\f183"; }
.flaticon-link:before { content: "\f184"; }
.flaticon-link-1:before { content: "\f185"; }
.flaticon-list:before { content: "\f186"; }
.flaticon-list-1:before { content: "\f187"; }
.flaticon-location:before { content: "\f188"; }
.flaticon-location-1:before { content: "\f189"; }
.flaticon-location-marker:before { content: "\f18a"; }
.flaticon-lock:before { content: "\f18b"; }
.flaticon-mail:before { content: "\f18c"; }
.flaticon-map:before { content: "\f18d"; }
.flaticon-map-marker-point:before { content: "\f18e"; }
.flaticon-maple-leaf:before { content: "\f18f"; }
.flaticon-medal:before { content: "\f190"; }
.flaticon-medal-1:before { content: "\f191"; }
.flaticon-meh-face-emoticon:before { content: "\f192"; }
.flaticon-message:before { content: "\f193"; }
.flaticon-microphone:before { content: "\f194"; }
.flaticon-minus:before { content: "\f195"; }
.flaticon-money:before { content: "\f196"; }
.flaticon-more:before { content: "\f197"; }
.flaticon-multimedia:before { content: "\f198"; }
.flaticon-multimedia-1:before { content: "\f199"; }
.flaticon-multimedia-2:before { content: "\f19a"; }
.flaticon-multimedia-3:before { content: "\f19b"; }
.flaticon-music:before { content: "\f19c"; }
.flaticon-nature:before { content: "\f19d"; }
.flaticon-nature-1:before { content: "\f19e"; }
.flaticon-nature-2:before { content: "\f19f"; }
.flaticon-nature-3:before { content: "\f1a0"; }
.flaticon-nature-4:before { content: "\f1a1"; }
.flaticon-nature-5:before { content: "\f1a2"; }
.flaticon-nature-6:before { content: "\f1a3"; }
.flaticon-note:before { content: "\f1a4"; }
.flaticon-note-1:before { content: "\f1a5"; }
.flaticon-olive-branches-award-symbol:before { content: "\f1a6"; }
.flaticon-people:before { content: "\f1a7"; }
.flaticon-phone-call:before { content: "\f1a8"; }
.flaticon-pie-chart:before { content: "\f1a9"; }
.flaticon-placeholder:before { content: "\f1aa"; }
.flaticon-placeholder-1:before { content: "\f1ab"; }
.flaticon-placeholder-2:before { content: "\f1ac"; }
.flaticon-placeholder-3:before { content: "\f1ad"; }
.flaticon-plant:before { content: "\f1ae"; }
.flaticon-play-button:before { content: "\f1af"; }
.flaticon-play-button-1:before { content: "\f1b0"; }
.flaticon-plug:before { content: "\f1b1"; }
.flaticon-prize-badge-with-star-and-ribbon:before { content: "\f1b2"; }
.flaticon-quality:before { content: "\f1b3"; }
.flaticon-recycle-symbol-of-three-leaves:before { content: "\f1b4"; }
.flaticon-remove:before { content: "\f1b5"; }
.flaticon-reuse:before { content: "\f1b6"; }
.flaticon-right-arrow:before { content: "\f1b7"; }
.flaticon-rotate:before { content: "\f1b8"; }
.flaticon-round:before { content: "\f1b9"; }
.flaticon-round-delete-button:before { content: "\f1ba"; }
.flaticon-search:before { content: "\f1bb"; }
.flaticon-search-1:before { content: "\f1bc"; }
.flaticon-security-badge:before { content: "\f1bd"; }
.flaticon-settings:before { content: "\f1be"; }
.flaticon-settings-1:before { content: "\f1bf"; }
.flaticon-shape:before { content: "\f1c0"; }
.flaticon-shape-1:before { content: "\f1c1"; }
.flaticon-sheep:before { content: "\f1c2"; }
.flaticon-shopping-bag:before { content: "\f1c3"; }
.flaticon-sign:before { content: "\f1c4"; }
.flaticon-smartphone-call:before { content: "\f1c5"; }
.flaticon-smile:before { content: "\f1c6"; }
.flaticon-smile-1:before { content: "\f1c7"; }
.flaticon-smile-2:before { content: "\f1c8"; }
.flaticon-smiling-emoticon-square-face:before { content: "\f1c9"; }
.flaticon-speech-bubble:before { content: "\f1ca"; }
.flaticon-speech-bubble-outline-of-rectangular-shape:before { content: "\f1cb"; }
.flaticon-speech-bubble-with-three-circles-inside:before { content: "\f1cc"; }
.flaticon-spin:before { content: "\f1cd"; }
.flaticon-spinner:before { content: "\f1ce"; }
.flaticon-spinner-1:before { content: "\f1cf"; }
.flaticon-spinner-circle:before { content: "\f1d0"; }
.flaticon-star:before { content: "\f1d1"; }
.flaticon-star-1:before { content: "\f1d2"; }
.flaticon-stats:before { content: "\f1d3"; }
.flaticon-stick-man:before { content: "\f1d4"; }
.flaticon-stick-man-1:before { content: "\f1d5"; }
.flaticon-sticker:before { content: "\f1d6"; }
.flaticon-sticker-1:before { content: "\f1d7"; }
.flaticon-straight-quotes:before { content: "\f1d8"; }
.flaticon-success:before { content: "\f1d9"; }
.flaticon-support:before { content: "\f1da"; }
.flaticon-support-1:before { content: "\f1db"; }
.flaticon-symbol:before { content: "\f1dc"; }
.flaticon-symbol-1:before { content: "\f1dd"; }
.flaticon-tag:before { content: "\f1de"; }
.flaticon-target:before { content: "\f1df"; }
.flaticon-target-1:before { content: "\f1e0"; }
.flaticon-technology:before { content: "\f1e1"; }
.flaticon-technology-1:before { content: "\f1e2"; }
.flaticon-technology-2:before { content: "\f1e3"; }
.flaticon-technology-3:before { content: "\f1e4"; }
.flaticon-technology-4:before { content: "\f1e5"; }
.flaticon-technology-5:before { content: "\f1e6"; }
.flaticon-three:before { content: "\f1e7"; }
.flaticon-time:before { content: "\f1e8"; }
.flaticon-time-1:before { content: "\f1e9"; }
.flaticon-time-left:before { content: "\f1ea"; }
.flaticon-tool:before { content: "\f1eb"; }
.flaticon-tool-1:before { content: "\f1ec"; }
.flaticon-transport:before { content: "\f1ed"; }
.flaticon-trash:before { content: "\f1ee"; }
.flaticon-trophy:before { content: "\f1ef"; }
.flaticon-truck:before { content: "\f1f0"; }
.flaticon-two:before { content: "\f1f1"; }
.flaticon-unlink:before { content: "\f1f2"; }
.flaticon-up-arrow:before { content: "\f1f3"; }
.flaticon-user:before { content: "\f1f4"; }
.flaticon-user-1:before { content: "\f1f5"; }
.flaticon-users:before { content: "\f1f6"; }
.flaticon-video-player:before { content: "\f1f7"; }
.flaticon-visible:before { content: "\f1f8"; }
.flaticon-wallet:before { content: "\f1f9"; }
.flaticon-wallet-1:before { content: "\f1fa"; }
.flaticon-web-development:before { content: "\f1fb"; }
.flaticon-wheat:before { content: "\f1fc"; }
.flaticon-wheat-1:before { content: "\f1fd"; }
.flaticon-wheat-2:before { content: "\f1fe"; }